doctype html
html
  head
    script(src="globals.js")
  body
    .viewport
      .camera
        .world
          .cube
            .face
            .face
            .face
            .face
    script(src="index.js")
